<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8">
    <title>註冊列印裝置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script> 
     <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
       <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script> 
     <style>
       #MainDiv button {
           margin:3px;
       }
     </style>
     <script> 
		 //你的liff app ID, 例如 --> 0000000000-spPeRmAn
        var YourLiffAppId = '1654118646-kzqdwpx0';
		var firebaseConfig = {
				apiKey: "AIzaSyAG501H9o5I_q-2lLKei5aDUBsJQrigxmQ",
				authDomain: "line-bot-test-77a80.firebaseapp.com",
				databaseURL: "https://line-bot-test-77a80.firebaseio.com"					
        };
        firebase.initializeApp(firebaseConfig);        
        var db = firebase.database();
        $(document).ready(function (){			
		  //初始 LIFF SDK
            initializeLiff(YourLiffAppId);
            const context = liff.getContext();
			const userid = context.userId
			$('input[name="userid"]').val(userid)
			console.log(userid)           
             $('#ButtonSendTextMsg').click(function () {
				 
				 
				//var device_num = $('#deviceid').val() 							
                  liff.sendMessages([
                    {
                        type: 'text',
                        text: 'register~'                        
                    }
                  ])
                    .then(() => {
                        liff.closeWindow();
                    })                
            });    	
			
		});
		function initializeLiff(myLiffId){
            liff
                .init({
                    liffId: myLiffId
                })
                .then(() => {                   
                    initializeApp(); //取得LIFF各種物件及屬性
                })
                .catch((err) => {
                    alert(JSON.stringify(err));
                });
        }
        
        function initializeApp(){
			if (!liff.isLoggedIn()) { // 如果Line用戶沒有登入，就必須事先登入
              	liff.login();
            } 				 
         }     
		 
	 </script> 
		
    </head> 
	<body>
		<div class="row">
			<form method='post' enctype='multipart/form-data'>
		       <input id = "deviceid" type='text' name='deviceid' placeholder="輸入裝置名稱"/>
		       <input id = "useid" type='text' name='userid' hidden/>
		       <input type='submit' value='註冊'/>
		      </form> 
		      <h3>{{data}}</h3>		 
		     
		    </div>		 
	</body>
	
</html>
